<div class="row add-form">
    <div class="col-4">
        <div class="add-form-left">
            <div class="add-commande"></div>
        </div>
    </div>
    <div class="col-8">
        <div *ngIf="commande">
            <h2><span jhiTranslate="palmierDevApp.commande.detail.title">Commande</span> {{commande.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="palmierDevApp.commande.numero">Numero</span></dt>
                <dd>
                    <span>{{commande.numero}}</span>
                </dd>
                <dt><span jhiTranslate="palmierDevApp.commande.date">Date</span></dt>
                <dd>
                    <span>{{commande.date}}</span>
                </dd>
                <dt><span jhiTranslate="palmierDevApp.commande.status">Status</span></dt>
                <dd>
                    <span>{{commande.status}}</span>
                </dd>
                <dt><span jhiTranslate="palmierDevApp.commande.serveur">Serveur</span></dt>
                <dd>
                    <div *ngIf="commande.serveurId">
                        <a [routerLink]="['/serveur', commande.serveurId, 'view']">{{serveur.prenom+" "+serveur.nom}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="palmierDevApp.commande.plat">Plat</span></dt>
                <dd>
                    <span *ngFor="let plat of commande.plats; let last = last">
                        <a [routerLink]="['/plat', plat?.id, 'view' ]">{{plat.libelle}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="palmierDevApp.commande.boisson">Boisson</span></dt>
                <dd>
                    <span *ngFor="let boisson of commande.boissons; let last = last">
                        <a [routerLink]="['/boisson', boisson?.id, 'view' ]">{{boisson.libelle}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/commande', commande.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
